.icon {
  width: $img-size-base;
  height: $img-size-base;
}

.icon.icon-sm {
  width: $img-size-sm;
  height: $img-size-sm;
}

.icon.icon-m {
  width: $img-size-m;
  height: $img-size-m;
}

.img {
  width: 100%;
  height: 100%;
}
